MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/webprog?retryWrites=true&w=majority
PORT=8000
JWT_SECRET=your-secret-key-here
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Vercel production examples:
# NODE_ENV=production
# CLIENT_URL=https://helping-seb.vercel.app
